<meta name="viewport" content="width=device-width, initial-scale=1.0">
body{
    background-color:mediumpurple; 
    text-align:center;
    background-repeat: repeat;
}
h1{
    color: white;
}
h2{
    color:black
}
p{
    color: black;
}
sub{
    color:darkgray
}
header{
    background-color:black;
    text-align:left;
    width:auto;
    height;
    color:white
}
nav{
    background-color:black;
    text-align:center;
}
hr{
    background-color:black;
    color:white;
}
#divvy3 {
    background: linear-gradient(to right, #993366 37%, #660066 100%);
}
#divvy2 {
    background: linear-gradient(to right, #660066 37%, #303030 100%);
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
/* do not bother with this a:visited tag, it makes the site look wack */
a:visited {
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #ac00eb;
  background-color: transparent;
  text-decoration: underline;
}
 /* I have yet to see a:active do anything, but for the time being, it'll be disabled
a:active {
  background-color: transparent;
  text-decoration: underline;
}
*/